body{
    margin: auto;    
    padding: 25px;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    color: #00274C;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  header{
    border-bottom: 4px solid #38B09D;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav_links{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 20pt;
  }

  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }


  #current_page a{
      color: #005A9C;
      font-size: 24pt;
  }

  #current_page a:visited{
    color: #005A9C;
    font-size: 24pt;
}

  #logo{
      max-width: 90%;
      max-height: 150px;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  #driver_predictions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#team_predictions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

  .driver{
      border: 4px solid #38B09D;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: white;
  }

  .team{
    border: 4px solid #38B09D;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

  .even{
    grid-column: 2 / span 6;
}

.odd{
    grid-column: 1 / span 6;
}

#sports{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sport{
    flex-basis: 200px;
    border: 4px solid #38B09D;
    margin-bottom: 20px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

#divisions{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.division{
    flex-basis: 200px;
    border: 4px solid #38B09D;
    margin-bottom: 20px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

#pennants{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pennant{
    flex-basis: 200px;
    border: 4px solid #38B09D;
    margin-bottom: 20px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

#overview{
    border-top: 4px solid #38B09D;
    padding-top: 50px;
    padding-bottom: 20px;
}

#ws_team{
    border: 4px solid #38B09D;
    margin-bottom: 20px;
    background-color: white;
}

.team p{
    padding-left: 10px;
    padding-right: 10px;
}

.sport_logo{
    margin-bottom: 25px;
}


  #champion{
      border: 4px solid #FFCB05;
  }

  #second{
    border: 4px solid #C0C0C0;
  }

  #third{
      border: 4px solid #b87333;
  }

  div p{
      padding-top: 20px;
      padding-left: 5%;
      padding-right: 5%;
      font-size: 14pt;
  }

  div{
     margin: 0 auto; 
}
  div header{
      border-bottom: none;
      margin-left: 5%;
      margin-right: 5%;
  }

  header h3{
    font-size: 20pt;
  }

  div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  footer{
    background-color: white;
    color: black;
    padding: 0px;
    text-align: center;
    border: 4px solid #38B09D;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }




  .team_logo, .league_logo{
      max-width: 60%;
      min-width: 60%;
  }

  #twins{
      min-width: 100%;
      max-width: 100%;
  }

  .league_logo{
    margin-bottom: 40px;
  }

  .league_pics{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }




  @media screen and (min-width: 500px){

    header{
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
    }

    .league_pics{
      flex-direction: row;
    }

    .league_pics img{
      max-width: 300px;
      min-width: 250px;
      align-self: stretch;

    }

    div p{
      padding-top: 0px;
      font-size: 16pt;
    }
  
    .league_logo{
      margin-bottom: 0px;
    }
  
    .sport_logo{
      margin-bottom: 0px;
    }

    .league_logo, .team_logo, .team_img, .driver_img{
      max-height: 250px;
      width: auto;
      object-fit: contain;
    }

    .even{
      grid-column: 3 / span 5;
    }
  
    .odd{
      grid-column: 1 / span 5;
    }

    body{
      font-size: 20pt;
      padding-top: 0px;
    }

    .nav_links{
      font-size: 24pt;
    }

    #current_page a:visited{
      color: #005A9C;
      font-size: 28pt;
    }

  #current_page a:visited{
    color: #005A9C;
    font-size: 28pt;
  }

  header h3{
    font-size: 24pt;
  }

  a.skip{
    top: -50px;
  }

  }